rockiot-gauge {
    position:relative;
    display: flex; 
    max-width: 20rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.rockiot-radial {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rockiot-dial-md {
    stroke-width: 8;
}
.rockiot-value-md {
    stroke-width: 8;
}

.rockiot-dial-lg {
    stroke-width: 12;
}
.rockiot-value-lg {
    stroke-width: 12;
}

.rockiot-dial-sm {
    stroke-width: 4;
}
.rockiot-value-sm {
    stroke-width: 4;
}

.rockiot-title-text {
    font-size:.22rem;
}

.rockiot-svg.rockiot-gauge-linear-vertical {
    transform: rotate(180deg);
}

.scaleNumbers {
    font-size:.22rem;
}

.rockiot-svg > g > text , g > text {
    text-anchor: middle;
    dominant-baseline: alphabetic;
    font-weight:normal;
    stroke:none;
}

.rockiot-output-radial {
    position:absolute;
    bottom:5rem;
    font-size:1.5rem;
    padding:.4rem;
}

.rockiot-output-linear.rockiot-gauge-title , .rockiot-output-linear.rockiot-gauge-units   {
    font-size:.8rem;
    padding:.2rem;
    color: #777;
}

.rockiot-output-linear.rockiot-gauge-output {
    font-size:1.5rem;
    padding: .4rem;
    color: #777;
}



.gauge_dark_gradient {
    background: linear-gradient(135deg, #7d7e7d 0%,#0e0e0e 100%);
    box-shadow: 4px 4px 5px 0px rgba(148,148,148,1);
    border:1rem solid black;
}

.gauge_dark_gradient_light {
    
    border: 1.4rem solid #ced2ce;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    box-shadow: 4px 4px 5px 0px rgba(148,148,148,1);
}

.gauge_silver_gradient {
    background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#71736f 100%);
    border: 1rem solid #e8e8e8;
    box-shadow: 4px 4px 5px 0px rgba(148,148,148,1);
}

.gauge_round_lg {
    width:20rem;
    height:20rem;
    border-radius: 99rem;
}

.gauge_vertical_lg {
    width: 8rem;
    height: 30rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border:.1rem solid black;
}

.gauge_horizontal_lg {
    width: 450px;
    height: 150px;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border:.1rem solid black;
}

.scaleNumbersLinear {
    font-size:.7rem;
}